.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  background-color: var(--color-base-200);
  box-shadow: var(--shadow-xl);
  padding: 1.5rem;
  margin-bottom: 1.5rem;

  outline-style: groove;
  @apply outline-primary outline-2 rounded-md;
}

.save-button {
  text-align: center;
  margin-top: 1.5rem;
}
